body {
    overflow-y: hidden;
}

.btn-verde {
    background-color: rgb(62, 195, 104);
    border-color: rgb(62, 195, 104);
}

.btn-verde:hover {
    background-color: rgb(176, 251, 147);
    border-color: rgb(176, 251, 147);
}

.gradient-custom {
/* fallback for old browsers */
background: #b2fb93;

/* Chrome 10-25, Safari 5.1-6 */
background: -webkit-linear-gradient(to bottom right, rgb(176, 251, 147), rgb(87, 245, 137));

/* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
background: linear-gradient(to bottom right, rgba(176, 251, 147, 1), rgba(87, 245, 137, 1))
}

.table td, .table th {
    vertical-align: middle;
}
.table .btn {
    float: right;
}

.grafana {
    width: 1000px;
    height: 500px;
}