<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" lang="eu">

<head>
    <meta charset="UTF-8">
    <title>Home</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/eraikinak.css">
    <!-- Matomo -->
    <script>
        var _paq = window._paq = window._paq || [];
        /* tracker methods like "setCustomDimension" should be called before "trackPageView" */
        _paq.push(['trackPageView']);
        _paq.push(['enableLinkTracking']);
        (function () {
            var u = "//http://34.73.1.92//";
            _paq.push(['setTrackerUrl', u + 'matomo.php']);
            _paq.push(['setSiteId', '1']);
            var d = document, g = d.createElement('script'), s = d.getElementsByTagName('script')[0];
            g.async = true; g.src = u + 'matomo.js'; s.parentNode.insertBefore(g, s);
        })();
    </script>
    <!-- End Matomo Code -->
</head>

<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container-fluid">
            <a class="navbar-brand" href="#">Climate Confort</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" th:href="@{/logout}">Saioa itxi</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <div class="gradient-custom">
        <div class="container text-center p-4 position-relative">
            <a href="/userMenu/eraikinak" class="btn btn-primary btn-lg position-absolute start-0 top-0 mt-4 ms-4"
                onclick="_paq.push(['trackEvent', 'Eraikinak', 'Eraikinak ikusteko user botoian klik', 'USER eraikinak ikusi botoia']);">Zure
                eraikinak ikusi</a>
            <h1 class="fw-bold">Ongi etorri!</h1>
        </div>
        <section class="vh-100">
            <div class="container vh-100">
                <div class="row justify-content-center vh-100">
                    <div class="col-12">
                        <iframe class="w-100 h-100"
                            src="http://localhost:3000/public-dashboards/c5f62e54629e49569a355ca570168511"
                            frameborder="0"></iframe>
                    </div>
                </div>
            </div>
        </section>
    </div>
</body>

</html>