<!DOCTYPE html>
<html lang="eu" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<head>
    <meta charset="UTF-8">
    <title>Parametroa aldatu</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/register.css">
    <link rel="stylesheet" href="/css/eraikinak.css">
    <!-- Matomo -->
	<script>
		var _paq = window._paq = window._paq || [];
		/* tracker methods like "setCustomDimension" should be called before "trackPageView" */
		_paq.push(['trackPageView']);
		_paq.push(['enableLinkTracking']);
		(function() {
		var u="//http://34.73.1.92//";
		_paq.push(['setTrackerUrl', u+'matomo.php']);
		_paq.push(['setSiteId', '1']);
		var d=document, g=d.createElement('script'), s=d.getElementsByTagName('script')[0];
		g.async=true; g.src=u+'matomo.js'; s.parentNode.insertBefore(g,s);
		})();
	</script>
	<!-- End Matomo Code -->
</head>

<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container-fluid">
            <a class="navbar-brand" th:href="@{/administration}">Climate Confort</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" th:href="@{/logout}">Saioa itxi</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <section class="vh-100 gradient-custom d-flex align-items-center">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-12 col-lg-9 col-xl-7">
                    <div class="card shadow-2-strong card-registration" style="border-radius: 15px;">
                        <div class="card-body p-4 p-md-5">
                            <h1 class="mb-4 pb-2 pb-md-0 mb-md-3">Parametroa aldatu</h1>
                            <div th:if="${param.zuzen}">
                                <div class="alert alert-info">Zuzen erregistratu da.</div>
                            </div>
                            <div class="card-body">
                                <form method="post" th:action="@{/administration/eraikinak/gela/parametroaAldatu}">
                                    <label class="form-label" for="parametro">Balio Berria</label>
                                    <div class="col-12 mb-4">
                                        <div data-mdb-input-init class="form-outline">
                                            <input class="form-control" id="parametro" name="parametro"
                                                placeholder="Sartu parametro berria" type="parametro"
                                                th:object="${parametro}">
                                            <p th:errors="*{parametro}" class="text-danger"
                                                th:if="${#fields.hasErrors('parametro')}">
                                            </p>
                                        </div>
                                        <div class="mt-4 pt-2">
                                            <input data-mdb-ripple-init class="btn btn-primary btn-lg" type="submit"
                                                value="Aldatu" onclick="_paq.push(['trackEvent', 'Parametroak', 'Parametroa aldatzeko admin botoian klik', 'ADMIN parametroa aldatu botoia']);"/>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</body>

</html>